<div class="sidenav-container">
  <div class="header">
    <div class="topnav">
      <button mat-icon-button class="edit"></button>
    </div>
    <img src="../../../../assets/images/newAvatar.png" alt="face" class="avatar">
    <div class="title">Designer Name</div>
    <div class="subtitle">love with UI / GUI / UX</div>
  </div>
  <div class="categories">
    <div class="mails" (click)="setMails()">
      <div class="icon">
        <img src="../../../../assets/images/icon5.png" alt="mail">
      </div>
      <div class="name">Mail Inbox</div>
      <div class="count">
        <div>5</div>
      </div>
    </div>
    <div class="friends" (click)="setFriends()">
      <div class="icon">
        <img src="../../../../assets/images/icon3.png" alt="friends">
      </div>
      <div class="name">Friends</div>
      <div class="count">
        <div>25</div>
      </div>
    </div>
    <div class="invites">
      <div class="icon">
        <img src="../../../../assets/images/icon2.png" alt="invites">
      </div>
      <div class="name">Invites</div>
      <div class="count">
        <div>1</div>
      </div>
    </div>
    <div class="bookmarks">
      <div class="icon">
        <img src="../../../../assets/images/icon4.png" alt="bookmarks">
      </div>
      <div class="name">Bookmarks</div>
    </div>
    <div class="settings">
      <div class="icon">
        <img src="../../../../assets/images/icon.png" alt="settings">
      </div>
      <div class="name">Account Settings</div>
    </div>
  </div>
  <img src="../../../../assets/images/exit.png" alt="exit" class="exit">
</div>
